<div id="search" class="input-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <span class="input-group-btn search_input">
    <button type="button" class="search_btn">
        <i class="fa fa-search"></i>
    </button>
  </span>
</div>